body {
    font-family: 'Helvetica Neue';
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: #1F2937;
    max-height: 50px;
}

.headlogo {
    display: flex;
    flex: 1;
    justify-items: flex-start;
    padding: 15px;
    padding-left: 30px;
    font-family: Georgia;
    font-weight: 900;
    color: #FFFFFF;
}

.topbuttons {
    display: flex;
    flex: 1;
    justify-content: right;
    align-content: center;
    padding: 15px;
    padding-top: 18px;
    padding-right: 30px;
    gap: 15px;
    font-size: 12px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.topbuttons {
    list-style-type: none;
}
.ctamain {
    background-color: #3882F6;
    display:flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.bannermain {
    background-color:#1F2937;
    display: flex;
    flex: 1;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.banner {
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: #1F2937;
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-right: 50px;
    max-width: 900px;
}

.bannertext {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 40px;
    margin-right: 30px;
}

.bannerheadtext {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.bannersubtext {
    font-size: 18px;
    color: #E5E7EB;
}

.bannerbutton {
   background-color: #3882F6;
   border-radius: 5px;
   padding: 5px;
   padding-left: 10px;
   padding-right: 10px;
   font-weight: bold;
   margin-top: 15px;
}

.bannerimage {
    justify-content: center;
    max-width: 400px;
    max-height: 400px;
    overflow: hidden;
    border-radius: 3%;
    flex-grow: 1;
    flex-shrink: 1;
}

.curved-border {
    width: auto;
    height: 100%;
    position: relative;
    right: 50%;
    filter: brightness(170%);
}

.midsection {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    padding-bottom: 50px;
}

.midsectiontext {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 30px;
}

.midsectionblocks {
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 25px;
    padding-top: 40px;
    flex-wrap: wrap;
}
.cardblock {
    justify-content: center;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 3%;
}

.cardtext {
    color: #1F2937;
    font-size: 18px;
    opacity: 80%;
    word-wrap: break-word;
    width: 200px;
    padding-top: 10px;
}
.mainlowermidblocks {
    background-color: #E5E7EB;
    display: flex;
    flex: 1;
    flex-direction: column;
}
.lowermidblocks {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-height: 150px;
    align-self: center;
    padding: 60px;
    max-width: 800px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.quotee {
    font-size: 24px;
    color: #1F2937;
    padding-top: 15px;
    align-self: flex-end;
    padding-right: 10px;
    font-weight: 900;
}

.cta {
    display: flex;
    direction: row;
    padding: 60px;
    padding-left: 140px;
    padding-right: 180px;
    color: #FFFF;
    background-color: #3882F6;
    max-height: 100px;
}

.ctacard {
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 25px;
}
.ctatext {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.ctatext1 {
    font-size: 24px;
    font-weight: 900;
}

.ctatext2 {
    font-size: 18px;
    font-weight: 300;
}

.ctabutton {
   border: 2px solid #FFFFFF;
   border-radius: 5px;
   padding: 5px;
   padding-left: 10px;
   padding-right: 10px;
   font-weight: bold;
   margin-top: 15px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
}

.footertext {
    font-size: 16px;
    color: #FFFFFF;
    opacity: 60%;
    padding: 25px;
}